.cartElement {
	border: 8px solid #708E6E;
	padding: 20px;

    margin-top: 27px;
}

.removeCartElementIcon {
	transition: 1s;
}

.removeCartElementIcon:hover {
	transform: rotate(90deg);
	transition: 1s;
}

@media(min-width: 768px) {

	.cartElementPrice {
		/* margin-left: 10px; */
		display: flex;
		justify-content: space-between;
	}
}