
.dForm {
	border: 6px solid #CC7654;
	border-radius: 53px;
	padding: 2.5vw;
}

@media (max-width: 1000px) {
	.dForm {
		padding: 20px;
	}
}

.dFormContent {
	display:flex;
	justify-content: space-between;
	margin-bottom: 13px;
}
.dFormInput {
	width:45%;
}

.make_order_button {
	margin-top: 17px;
}