body {
}

.logo_vid_container {
	text-align: center;
	/*margin-top: 27px;*/
	/*background-color: red;*/
	width: 100%;
	/*height: 100%;*/
}

.logo_vid {
	width: 100%;
}

#discAnouncement {
	font-size: 20px;
	/*color: #657B66;*/
	margin-top: 17px;
	margin-bottom: 17px;
}

.push_right {
	margin-left: 100%;
}


    
    @media(max-width: 999px) {
        .contentTitle {
            font-size: 35px;
            font-weight:bold;
        }
    }

	@media(min-width: 1000px) {
		.absolute_me {
			font-size: 100px;
		}
    }
    
    @media(max-width: 999px) {
		.absolute_me {
			font-size: 65px;
		}
    }

.normalizeMe {
	transition: 2s;
}

#center_me {
}

.invis {
	opacity: 0;
}

.vis {
	opacity: 1;
	transition: 2s;
}

.contacts {
	margin-top: 50px;
}

.categoryPromo {
	width: 150px;
	height: 150px;

	background-image: url('https://demidob.000webhostapp.com/dch/h/el.svg');
	background-position: center;
	background-size: 150px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 27px;


	color: #CC7654;
    font-size: 20px;
    transition: 1s;
}
    

    /*@media(max-width: 1199px) {
    	.categoryPromo {
			width: 100px;
			height: 100px;
			background-size: 100px;
		}
    }

    @media(max-width: 767px) {
    	.categoryPromo {
			width: 150px;
			height: 150px;
		}
    }

    @media(min-width: 1200px) {
    	.categoryPromo {
			width: 150px;
			height: 150px;
		}
    }*/

.categoryPromo:hover {
	transform: rotate(-15deg);
    transition: 1s;
}