@font-face {
    font-family: 'mainFont';
    src: url('/static/fonts/12002.ttf');
}

body {
    font-family: 'mainFont';
}

a {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    transition: 0.5s;
}

a:hover {
    text-decoration: none;
    transition: 0.5s;
}

@media(max-width: 999px) {
    body {
        padding: 0;
        padding-top: 25px;
    }

    .headerContent {
        display: block;
        background-position: right top;
        background-size: 86% 170px;
    }

    #headerTitle {
        font-size: 50px;
        font-weight: bold;
        color: #CC7654;

        width: 200px;
        height: 200px;

        background-image: url('https://demidob.000webhostapp.com/dch/h/el.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200px;

        transition: 1s;
    }
}

@media(min-width: 1000px) {
    body {
        padding: 50px;
    }

    .headerContent {
        background-size: 85% 260px;
        background-position: top right;

        display: flex;
        justify-content: flex-start;

        margin-left: -35px;
    }

    nav {
        margin-top: 120px;
    }

    #headerTitle {
        font-size: 60px;
        font-weight: bold;
        color: #CC7654;

        width: 280px;
        height: 280px;

        background-image: url('https://demidob.000webhostapp.com/dch/h/el.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 280px;

        transition: 1s;
    }
}

@media(min-width: 2000px) {
    body {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}


/*HEADER*/
header {
    color: white;
    /*background-image: linear-gradient(45deg, #5A6F5A 0%, #8CA894 50%);*/
}

.headerContent {
    background-image: url('https://demidob.000webhostapp.com/dch/h/Header.png');
    background-repeat: no-repeat;
}

.headerNavLink {
    text-decoration: none;

    opacity: 0.6;
    font-size: 25px;

    padding-bottom: 1px;
    /*padding: 10px;*/

    border-bottom: 2px rgba(0, 0, 0, 0) solid;
    transition:0.5s;

}
.headerNavLink:hover {
    text-decoration: none;

    color: rgba(0, 0, 0, .6);
    border-bottom: 2px rgba(0, 0, 0, .6) solid;
    transition:0.5s;
}

#headerTitle:hover {
    transform: rotate(-15deg);

    transition: 1s;
}

#mpLink {
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

/*FOOTER*/
.myfooter {
    font-family: 'mainFont';
    /*background-image: linear-gradient(45deg, #5A6F5A 0%, #8CA894 50%);*/
    /*background-image: url('https://demidob.000webhostapp.com/dch/h/Header.png');*/
    
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    border-radius: 53px;
    padding-left: 25px;
    padding-right: 25px;

    /*background-position: center top;*/
    /*background-size: 90%;*/
    background-repeat: no-repeat;
    margin-top: 73px; /* 27 */
    color: #CC7654;
    transition: 0.5s;
}

.myfooter:hover {
    margin-top: 50px;
    margin-bottom: 23px;
    transition: 0.5s;
}

.myfooter a {
    color: #CC7654;
}

/*CUSTOM STYLES*/


.contentTitle {
    font-size:45px;
    color: #CC7654;
    font-weight:bold;
}

@media(max-width: 999px) {
    .contentTitle {
        font-size: 38px;
    }
}

.contentSubtitle {
    font-size: 35px;
    font-weight:normal;
    /*color: #7CA0D3;*/
    color: #CC7654;
}
.contentSubSubTitle {
    font-size: 20px;
    color: #7CA0D3;
    margin-top: 17px;
    margin-bottom: 17px;
}
.contentNavigation {
    width: 100%;
    display: inline-block;
}
.navLink {
    color: rgb(103, 116, 104);
    font-size:25px;
    margin-right: 33px;
    
    border-bottom: 1px rgb(103, 116, 104) solid;
    transition:  0.2s;
}
.navLink:hover{
    color: rgb(103, 116, 104);

    border-bottom: 2px rgb(103, 116, 104) solid;
    transition:  0.2s;
    text-decoration: none;
}

.content {
    margin-top: 27px;
}







#uplink {
    padding: 5px;

    position: fixed;
    left: 100%;
    top: 100%;
    transform: translate(-140%, -140%);

    background-color: rgb(155, 132, 151, .3);
    filter: invert();
    border-radius: 100%;

    transition: .5s;
}

#uplink:hover {
    background-color: rgb(155, 132, 151, .8);

    transition: .5s;
}


.page_block {
    margin-top: 158px; /* 108px */ /* 178 */
}

.block_content {
    margin-top: 27px;
}
.block_just_border {
}
.block_border {
    border: 6px solid #CC7654;
    border-radius: 53px;
}
.toMainLink:hover {
    color:#708E6E;
}
.btn {
    background-image: url('/static/imgs/bg1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1300%;
    transition: .8s;
    color: white;
}

.btn:hover {
    background-position: center;
    background-size: 200%;   
    transition: .8s;
    color: white;
}

.btn a:hover {
    color: white;
}

.shadow_modal {
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
}