
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


    .productDiv {
      font-family: Arial;

      width: 100%;
      height: 100%;

      border: 6px solid #CC7654;
      padding:27px;
      padding-bottom:17px;
      text-align:center;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      background-blend-mode: luminosity;
      background-color: rgba(255, 255, 255, .2);

      border-radius: 50%;

      margin-top: 27px;
      transition: 1s;
    }

    .productDiv:hover {
      background-color: rgba(255, 255, 255, .05);
      transition: 1s;
    }

    .productCol {
      margin-left: auto;
      margin-right: auto;
    }

    @media(min-width: 1200px) {
      .productCol {
        width: 350px;
        height: 350px;
      }
    }

    @media(max-width: 1199px) {
      .productCol {
        width: 25vw;
        height: 25vw;
      }
    }

    @media(max-width: 991px) {
      .productCol {
        width: 350px;
        height: 350px;
      }
    }

    .productDiv b, p, b {
      margin:0;
    }

    .productInfo {
      background-color: rgba(255, 255, 255, .8);
      border-radius: 53px;
      padding: 10px;
      padding-left: 25px;
      padding-right: 25px;
      font-family: 'mainFont';
    }

    .productTitle {
      font-size: 35px;
    }

    .productDesc {
      margin: 0;
      font-size: 15px;
      transition: 1s;
    }

    .productDesc:hover {
      font-size: 20px;
      transition: 1s;
    }

    .priceBuy {
      display: flex;
      justify-content: space-between;
      font-size:20px;
      margin-top: 17px;
    }
    .productPrice {
      color: #CC7654;
      font-size:20px;
    }

    .buyButton, .discount {
      color: #A15030;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      transition: 1s;
    }

    .buyButton:hover {
      text-decoration: none;
      color: #A15030;
      border-bottom: 2px solid #A15030;
      transition: 1s;
    }

    .productBuyButton {
      color:#007bff;
      padding: 0;
      text-decoration:none;

    }

    .productBuyButton:hover{
      text-decoration:underline;
    }
    .productsRow {
      margin-top: 27px;
    }



    

      @media(max-width: 999px) {
          .productDesc {
              font-size: 20px;
          }
          .productName {
            font-size: 35px;
          }
      }
      
      @media(min-width: 1000px) {
          .productName {
            font-size: min(2.5vw, 30px);
          }
      }