<!DOCTYPE html>
<html lang="en" style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="68977f10330b4e8b" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% load static %}
    <link rel="icon" href="{% static '/imgs/favicon.svg' %}">

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <script src={% static 'scripts/waveScrollTo.js' %}></script>


        {% block additional_styles %}
            additional styles will be loaded here
        {% endblock additional_styles %}

    <title>
        Дачник - {% block title %}
                        this will be replaced by page_title
                    {% endblock %}
    </title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(65880919, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/65880919" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body id="body" style class>
    <header class="{% block hc %}{% endblock %}">
        <div class="container">
            <div class="headerContent">
                <a {% block mp_link %} href="/" {% endblock mp_link %} id="mpLink">
                    <div id="headerTitle">
                        <div class="row" style="height: 100%;">
                            <div class="col-12 my-auto text-center">
                                Дачник
                            </div>
                        </div>
                    </div>
                </a>        

                <nav class="navbar navbar-expand-lg navbar-light" style="padding-left: 0; margin-left: 0;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link headerNavLink" href="/">Главная<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link headerNavLink" href="/products/">Каталог товаров</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link headerNavLink" href="/#contacts">Контакты</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link headerNavLink" href="/cart/">Корзина</a>
                            </li>
                        </ul>
                    </div>
                </nav>


            </div>
        </div>
        
    </header>



    <div class="container content" style="background-color: none;">
        {% block content %}
            this will be replaced by content
        {% endblock %}
    </div>

    <div id="uplink" class="invis">
        <a href="#" onclick="waveScrollTo($('#body').offset().top,500);">
            <img src="http://demidob.site/dch/imgs/icons/arrow-up-circle.png" alt="↑" width="50px">
        </a>
    </div>



    <div class="container">
        <!-- Footer -->
    <footer class="page-footer font-small myfooter pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Магазин "Дачник"</h5>
            <p>Суздальский пр., 13, Владимир, Владимирская обл., 600016</p>
            <p>т. 44-51-62</p>
            <p>{% include "social_links.html" %}</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Навигация</h5>

            <ul class="list-unstyled">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                <a href="/products/">Товары</a>
            </li>
            <li>
                <a href="/#contacts">Контакты</a>
            </li>
            <li>
                <a href="/cart/">Корзина</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Помощь</h5>

            <ul class="list-unstyled">
            <li>
                <a href="/help/order/">Оформление заказа</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Сайт сделан командой
        <a href="http://demidob.site/">Gradie</a>
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->

    </div>

</body>
</html>