<!DOCTYPE html>
<html lang="en" style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <script src={% static 'scripts/waveScrollTo.js' %}></script>


        {% block additional_styles %}
            additional styles will be loaded here
        {% endblock additional_styles %}

    <title>
        Дачник - {% block title %}
                        this will be replaced by page_title
                    {% endblock %}
    </title>
</head>
<body id="body" style class>
    <header class="{% block hc %}{% endblock %}">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1><a href="/" id="logo_a">Дачник</a></h1>
                </div>
                <div class="col-md-4 h2 my-auto text-md-right">
                    {% block page_title %}
                        this will be replaced by page_title
                    {% endblock %}

                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-dark" style="padding-left: 0; margin-left: 0;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/products/">Товары</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/#contacts">Контакты</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Семена
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% block nav_seeds %}
                                    content
                                {% endblock nav_seeds %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">О семенах</a>
                            </div>
                            <li class="nav-item active">
                                <a class="nav-link" href="/cart/">Корзина</a>
                            </li>
                        </li>
                    </ul>
                    <p class="text-right">т. 44-51-62</p>
                </div>
            </nav>

        </div>
    </header>



    <div class="container content" style="background-color: none;">
        {% block content %}
            this will be replaced by content
        {% endblock %}
    </div>

    <div id="uplink" class="invis">
        <a href="#" onclick="waveScrollTo($('#body').offset().top,500);">
            <img src="http://demidob.site/dch/imgs/icons/arrow-up-circle.png" alt="↑" width="50px">
        </a>
    </div>




        <!-- Footer -->
    <footer class="page-footer font-small myfooter pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Магазин "Дачник"</h5>
            <p>Суздальский пр., 13, Владимир, Владимирская обл., 600016</p>
            <p>т. 44-51-62</p>
            <p>{% include "social_links.html" %}</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Навигация</h5>

            <ul class="list-unstyled">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                <a href="/products/">Товары</a>
            </li>
            <li>
                <a href="/#contacts">Контакты</a>
            </li>
            <li>
                <a href="#!">О семенах</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

            <ul class="list-unstyled">
            <li>
                <a href="/cart/">Корзина</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="http://demidob.site/">DEM!DOB & EMEL!ANOB</a>
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>
</html>