{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block additional_styles %}
  <link rel="stylesheet" href="{% static 'styles/product_block.css' %}">
{% endblock additional_styles %}

<a class="dropdown-item" href="#">Помидоры</a>

{% block nav_seeds %}
    {% for pr in products.семена %}
        <a class="dropdown-item" href="/products/product?article={{ pr.article }}">{{pr.title}}</a>
    {% endfor %}
{% endblock nav_seeds %}

{% block content %}

{% endblock content %}