<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% load static %}

    {% load getByIndex %}
	{% load calcPrice %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/product_details.css' %}">

	<title>{{title}}</title>
</head>
<body>
	<div class="container">
		<div class="product_details_content">
			<div class="row">
				<div class="col-lg-7">
					<div class="contentTitle">{{pr.title}}</div>
					<div class="divTovar">
						<span class="contentSubtitle category">Категория:</span> 
						<span class="contentSubSubTitle">{{pr.category}}</span>
					<div class="divDiscription">
						<div class="contentSubtitle category">Описание:</div>
						<span class="contentSubSubTitle discription">{{pr.description}}</span>
					</div>
					</div>
				</div>
				<div class="col-lg-5 text-center">	
					<div class="divProductIcon">
						<img src="{{pr.icon}}" class="productIcon" alt="">
					</div>
					<div class="underImg text-center">
						<div class="countPrice">
							<div class="my-auto">
								<span class="contentSubSubTitle">В наличии: {{pr.amount}} шт.</span>
							</div>
							<div class="">
								{% if pr.discount == 0 %}
	                                    <b class="productPrice">{{pr.price}} ₽</b>
	                                {% endif %}

	                                {% if not pr.discount == 0 %}
	                                    <div class="productPrice">
	                                        <b class="productPrice">
	                                            {{pr|calc_price}} ₽
	                                            <br>
	                                            <div class="discount">
	                                                (-{{pr.discount}}%)
	                                            </div>
	                                        </b>
	                                    </div>
	                                    
	                                {% endif %}
								{# <span class="productPrice">{{pr.price}}</span> #}
								{# <span class="discount">(-50%)</span> #}
							</div>
						</div>
					</div>

					<div class="bottom ">			
						<div class=" stepper">
							<button class="btn btn-secondary" onclick='BtnOncl(this, "count1", {{pr.amount}})'>-</button>
							<span id="count1">1</span>
							<button class="btn btn-secondary" onclick='BtnOncl(this, "count1", {{pr.amount}})'>+</button>
						</div>
							<button class="btn btn-success" onclick="addToCart({{pr.article}})" data-toggle="modal" data-target="#cartSuccessModal">В корзину</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="cartSuccessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">{{pr.title}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <span id="modalAmount"></span>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
	        <a href="/cart/" class="btn btn-success">Перейти в корзину</a>
	      </div>
	    </div>
	  </div>
	</div>

	<script src='{% static "scripts/stepper.js" %}'></script>
	<script src='{% static "srcipts/makeRequest.js" %}'></script>
	<script src='{% static "scripts/addToCart.js" %}'></script>
</body>
</html>