{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block additional_styles %}
  <link rel="stylesheet" href="{% static 'styles/product_block.css' %}">
{% endblock additional_styles %}


{% load getByIndex %}

{% block nav_seeds %}
    {% for pr in products.семена %}
        <a class="dropdown-item" href="/products/product?article={{ pr.article }}">{{pr.title}}</a>
    {% endfor %}
{% endblock nav_seeds %}

{% block content %}

    

    <div class="row">
        <div class="col-md-6">
            <span class="contentTitle"> Категории товаров:</span>
         </div>
        <div class="col-md-6 my-auto">
            <div class="contentNavigation text-left">
                {% for cat in categories %}
                    <a href="#cat-{{cat}}" class="navLink">{{cat|capfirst}}</a>
                {% endfor %}
            </div>
        </div>
    </div>


    <div>
    </div>

    {% for cat in categories %}
        <div class="productsRow" id="cat-{{cat}}">
        <span class="contentSubtitle"> {{cat|capfirst}} </span>
        <div class="row">
        {% for pr in products|get_by_index:cat %}
            
                <div class="col-lg-4">
                    <div class="productDiv" onmouseover="mouseOver('desc-{{pr.article}}')" onmouseleave="mouseLeave('desc-{{pr.article}}')">
                        <img  src="{{pr.icon}}" class="productIcon" alt="">
                        <div class="productInfo">
                            <b class="productName">{{pr.title}}</b>
                            <p class="productDesc" id="desc-{{pr.article}}">{{pr.description}}</p>
                        </div>
                        <hr>
                        <div class="priceBuy">
                            <b class="productPrice">{{pr.price}}
                                <span class="discount">
                                    {% if not pr.discount == 0 %}
                                      (-{{pr.discount}}%)
                                    {% endif %}
                                </span>
                            </b>
                            <a href="/products/product?article={{pr.article}}" class="productBuyButton">Купить</a>
                        </div>
                    </div>
                </div>


        {% endfor %}
        </div>
        </div>

    {% endfor %}




<script src={% static 'scripts/product_info.js' %}></script>
{% endblock content %}

